*{
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
}
i{
    color: red;
    will-change: transform;
    transform: scale(.1);
    transition: all .3s ease;

}
.btn_wrap{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 240px;
    height: 72px;
    background-color: #eeeeed;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    transition: all .2s ease-in-out;
    margin: 200px;
}
span{
    position: absolute;
    width: 240px;
    height: 72px;
    border-radius: 80px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #eeeeed;
    background-color: red;
    padding: 0 18px;
    transition: all 1.2s ease;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px;
}

.btn_wrap:hover span{
    transition-delay:.25s;
    transform: translateY(90%);
}
.btn_wrap:hover i{
    opacity: 0.8;
    transform: scale(1);
    
}
